body{
    text-align: center;
    color: rgba(114,117,130,1);
    font-size: 14px;
}
#top{
    margin-top: 15px;
    margin-bottom: 10px;
}
#qjxx{  /*请假信息*/
    color: rgba(61,153,247,0.9);
    font-weight: bold;
    border-bottom: 3px solid rgba(61,153,247,0.9);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    margin-left: 0px;
}
#hyewm{     /*核验二维码*/
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    margin-left: 100px;
}
#two{
    background-color: rgba(246,153,9,1);
    height: 18px;
    width: 105.2%;
    margin-left: -10px;
    margin-right: 100px;
    color: white;
    font-size: 12px;
}
#wenhao{    /*问号*/
    padding-top: 4px;
    width: 12px;
    height: 12px;
}
#rhxj{  /*如何销假？*/
    vertical-align:top;
    margin-top: 2px;
}
#three{
    background-color: rgba(16,212,98,1);
    background: -webkit-linear-gradient(top, rgb(12, 166, 79), rgba(19,235,110,1));
    height: 70px;
    width: 105.2%;
    margin-left: -10px;
    margin-right: 100px;
    padding-top: 8px;
    color: white;
    font-size: 16px;
}
#dui{   /*对*/
    width: 16px;
    height: 16px;
    vertical-align:middle;
}
#sp{    /*审批已通过*/
    letter-spacing: 2px;
}
#zzxjz{ /*正在休假中*/
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
}
#move{  /*移动*/
    position: absolute;
    background-color: red;
    height: 20px;
}
.pxsbx{     /*平行四边形*/
    width: 40px;
    height: 23px;
    padding-left: 7px;
}
#grxx{  /*个人信息*/
    /* background-color: red; */
    position: absolute;
    right: 15px;
    top: 75px;
    font-size: 14px;
}
#four{  /*当前时间*/
    position: relative;
    background-color: rgba(125,128,125,0.7);
    color: white;
    border-radius: 8px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -31px;
    font-size: 11px;
}
#five{
    padding-top: 10px;
    font-size: 12.5px;
}
.left_len{  /*距离左边的距离*/
    left: 22px;
}
.lab{   /*说明文字*/
    color: rgba(170,170,170,1);
    font-size: 12.5px;
}
#qjlx{  /*请假类型*/
    position: absolute;
    top: 170px;
}
#xylx{  /*需要离校*/
    position: absolute;
    left: 180px;
    top: 170px;
}
#sj{    /*事假*/
    position: absolute;
    left: 82px;
    top: 170px;
}
#s{ /*是*/
    position: absolute;
    left: 240px;
    top: 170px;
}
#xjgz{  /*销假规则*/
    position: absolute;
    top: 190px;
}
#lx{    /*离校非离校*/
    position: absolute;
    left: 82px;
    top: 190px;
    color: rgba(240,159,52,1);
}
.ck{    /*查看*/
    color: rgba(61,153,247,0.9);
}
#sjxjsj{    /*实际休假时间*/
    position: absolute;
    top: 210px;
}
#_{
    position: absolute;
    left: 110px;
    top: 210px;
}

#six{
    margin-top: 70px;
    margin-bottom: 10px;
}
.split{ /*分割线*/
    background-color: rgba(240,245,247,1);
    margin-left: -10px;
    width: 105.2%;
    height: 14px;
}
#seven{
    font-size: 12px;
}
.title{
    position: absolute;
    font-weight: bold;
    font-size: 14px;
}
#kssj{  /*开始时间*/
    position: absolute;
    margin-top: 30px;
}
.left_len2{
    left: 90px;
}
#kssj2{   /*开始时间*/
    position: absolute;
    margin-top: 30px;
    font-weight: bolder;
}
#jssj{  /*结束时间*/
    position: absolute;
    margin-top: 50px;
}
#jssj2{   /*结束时间*/
    position: absolute;
    margin-top: 50px;
    font-weight: bolder;
}
.splc{  /*审批流程*/
    position: absolute;
    margin-top: 70px;
}
.qjyy{  /*请假原因*/
    position: absolute;
    margin-top: 90px;
}
.fqwz{  /*发起位置*/
    position: absolute;
    margin-top: 110px;
}
#wz{  /*位置*/ 
    color: rgba(61,153,247,0.9);
}
.csr{   /*抄送人*/
    position: absolute;
    margin-top: 130px;
}
.ssxx{  /*宿舍信息*/ 
    position: absolute;
    margin-top: 150px;
}
#cn{    /*承诺*/
    text-align: left;
    position: absolute;
    margin-top: 175px;
    margin-right: 22px;
    color: rgba(240,159,52,1);
}
#eight{ /*第二条分割线*/
    margin-top: 230px;
    margin-bottom: 10px;
}
#nine{
    font-size: 12.5px;
}
#fqr{   /*发起人*/
    position:absolute;
    margin-top: 30px;
}
#spr{   /*审批人*/
    position:absolute;
    margin-top: 70px;
}
#fqsj{  /*发起时间*/
    position:absolute;
    margin-top: 30px;
    right: 20px;
}   
#spsj{  /*审批时间 */
    position:absolute;
    margin-top: 70px;
    right: 20px;
}
.quan{  /*圆圈*/
    width: 19px;
    height: 19px;
    vertical-align:middle;
}
#tg{
    color: rgba(59,207,139,1);
}
#spyj{  /*审批意见*/
    position:absolute;
    left: 50px;
    background-color: rgba(240,245,247,1);
    width: 320px;
    height: 23px;
    margin-top: 100px;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid rgba(220,220,220,1);
    border-radius: 4px;
    color: rgba(170,170,170,1);
}
#ten{   /*底部*/
    position: absolute;
    height: 100px;
    width: 100%;
    margin-left: -10px;
    margin-top: 160px;
    background-color: rgba(240,245,247,1);
}
table{
    position:absolute;
    background-color: white;
    border: 1px solid rgba(100, 100, 100, 0.3);
    height: 50px;
    width: 102%;
    bottom: 0px;
    margin-left: -10px;
    border-collapse: collapse;
}
td{
    border: 1px solid rgba(100, 100, 100, 0.3);
    background-color: white;
    width: 33%;
    font-size: 15px;
    font-weight: bold;
}
td:hover{
    color: white;
    background-color: rgba(60,157,249,1);
}
#time_len{  /*显示总时长*/
    position: absolute;
    right: 25px;
    margin-top: 25px;
    background-color: rgba(237,244,255,1);
    border: 1.5px solid rgba(171,203,244,1);
    color: rgba(46,153,237,1);
    font-size: 15px;
    font-weight: bolder;
    border-radius: 4px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* 滚动------------------------------- */
.scroll__outer {
    position: relative;
    flex: 1;
    overflow: hidden;
    color: #000;
    width: 105.2%;
    margin-left: -10px;
    height: 36px;
    margin-top: -5px;
}
.scroll__inner {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: row;
}
.scroll__text {
    padding-right: 20px;
    white-space: nowrap;
}
/* 滚动------------------------------- */ 